#dev_design.splash
	.left_side
		.splash_section_header
			%h2="Development"
		.blurb
			.edge.top
			%p= "Specializing in front-end dev, with professional experience in full stack Ruby on Rails."
			%span.continue.arrow_link= "Don't take my word for it"
			.edge.bottom

	.right_side
		.splash_section_header
			%h2="Design"
		.blurb
			.edge.top
			%p= "Trained in traditional graphic design, with broad expertise in many areas: web, print, logos, branding, and more."
			%span.continue.arrow_link= "See for yourself"
			.edge.bottom

#featured_projects.clearfix
	.padded_container
		%h3.featured
			Featured Projects
			%span.projects_link.arrow_link= link_to "See all", projects_path
		- Project.featured.each do |p|
			= render partial: "shared/project_box", locals: { p: p }

#edu.splash
	.left_side
		.splash_section_header
			%h2="Educational Work"
		.blurb
			.edge.top
			%p= "Teaching experience and curriculum writing in programming and electronics for kids and adults."
			%span.continue.arrow_link= "Learn more"
			.edge.bottom