#image_form
	%h2= "Add Images"
	= f.collection_check_boxes :image_ids, @unattached_images, :id, :image do |ui|
		- ui_image = @unattached_images.detect{|i| i.id == ui.value }
		= ui.check_box
		= image_tag ui_image.image.url(:small)
		= label_tag "Default Image"
		= f.check_box :default_image_id, {}, ui_image.id