%h2= "Add a Project"
= nested_form_for @project do |f|
	.form_line
		= f.label :title
		= f.text_field :title
	.form_line
		= f.label :begin_date
		= f.date_select :begin_date, discard_day: true, start_year: 2008, end_year: Date.today.year
	.form_line
		= f.label :end_date
		= f.date_select :end_date, discard_day: true, start_year: 2008, end_year: Date.today.year
	.form_line
		= f.label :short_description
		= f.text_area :short_description
	.form_line
		= f.label :long_description
		= f.text_area :long_description
	.form_line
		= f.label :image_matching_color, 'Image color match: #'
		= f.text_field :image_matching_color, :maxlength => 6

	= render partial: "add_image", :locals => { :f => f, :project => @project }

	#add_image_link
		= f.link_to_add 'Add another image', :images, :data => { :target => "#image_form" }

	= f.button :submit