#project_page
	%section.info
		.left_side
			.page_title{:style => "background-color: ##{@project.image_matching_color}"}
				%h2= @project.title
			%figure.cover_image
				= image_tag(@project.default_image.image.large.url) # fix this later to be default image
				.caption_outer
					.caption_corner.top
					.caption_container
						%figcaption= @project.short_description.html_safe
					.caption_corner.bottom
		.right_side
			%dl
				%dt= "Project Year(s):"
				%dd= @project.years.join("-")
				%dt= "Project Categories:"
				%dd= @project.categories.map(&:name).join(", ")
				%dt= "Project Type:"
				%dd= "fill me in"
	%section.details
		.padded_container
			.left_side
				- for img in @project.non_default_images
					%figure.detail_image
						= image_tag(img.image.medium.url)
			.right_side
				%p.long_description= "#{ @project.long_description }".html_safe