!!! 5
%html
	%head
		%title= "Katherine Leipper - Code, Design, Art - For the Web and Beyond"
		%meta{:name => "description", :content => "Specializing in front-end dev, with professional experience in full stack Ruby on Rails."}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag params[:controller]
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

	%body
		#menu_btn
			%a{:href => "javascript:void(0)"}
		%header
			%h1
				Katherine
				%span.logo
				Leipper
			%h2= "Code, Design, Art /// For the Web and Beyond"
		%span
		%nav
			%ul
				%li.jobs= link_to "Jobs & Projects", :controller => :projects, :action => :index
				%li.edu= link_to "Educational Work"
				%li.about= link_to "Résumé & About"
		#container
			=yield
		%footer
			%ul
				%li.ex_link
					= link_to "https://github.com/katherinel" do
						%span.icon.github
						Github
				%li.ex_link
					= link_to "https://www.linkedin.com/pub/katherine-leipper/8/97b/618" do
						%span.icon.linkedin
						LinkedIn
				%li.ex_link
					= link_to "http://www.instructables.com/member/katherinel/" do
						%span.icon.instructables
						Instructables
			%p= "Contact /// Copyright #{Time.now.year}"