!!! 5
%html
	%head
		%title= "Katherine Leipper - Code, Design, Art - For the Web and Beyond"
		%meta{:name => "description", :content => "Specializing in front-end dev, with professional experience in full stack Ruby on Rails."}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag 'projects'
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

	%body
		#everything_but_footer
			#menu_btn
			%header
				%h1
					Katherine
					%span.logo
					Leipper
				%h2= "Code, Design, Art /// For the Web and Beyond"
			%span
			%nav
				%ul
					%li.jobs{:class => menu_highlight("projects")}
						= link_to "Jobs & Projects", :controller => :projects, :action => :index
						.arrow
					%li.edu{:class => menu_highlight("educational")}
						= link_to "Educational Work", :controller => :pages, :action => :educational
						.arrow
					%li.about{:class => menu_highlight("about")}
						= link_to "Résumé & About", :controller => :pages, :action => :about
						.arrow
			#flash_msgs{:style => "#{flash.empty? ? 'display:none' : ''}"}
				- flash.each do |key, value|
					%p{:class => "alert alert-#{key}"}= value
			#container
				=yield
		%footer
			%ul
				%li.ex_link
					= link_to "https://github.com/katherinel" do
						%span.icon.github
						Github
				%li.ex_link
					= link_to "https://www.linkedin.com/pub/katherine-leipper/8/97b/618" do
						%span.icon.linkedin
						LinkedIn
				%li.ex_link
					= link_to "http://www.instructables.com/member/katherinel/" do
						%span.icon.instructables
						Instructables
			%p= "Contact /// Copyright #{Time.now.year}"