!!! 5
%html
	%head
		%title= "Katherine Leipper: Code, Design, Art - For the Web and Beyond"
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag params[:controller]
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags

	%body
		#menu_btn
			%a{:href => "javascript:void(0)"}= "MENU"
		%header
			%h1= "Katherine Leipper"
			%h2= "Code, Design, Art - For the Web and Beyond"
		%span
		%nav
			%ul
				%li= link_to "JOBS & PROJECTS", :controller => :projects, :action => :index
				%li= link_to "EDUCATIONAL WORK"
				%li= link_to "RÉSUMÉ & ABOUT"
		#container
			=yield
		%footer
			%ul
				%li.ex_link.github
					= link_to "GITHUB", "https://github.com/katherinel"
				%li.ex_link.linkedin
					= link_to "LINKEDIN", "https://www.linkedin.com/pub/katherine-leipper/8/97b/618"
				%li.ex_link.instructables
					= link_to "INSTRUCTABLES", "http://www.instructables.com/member/katherinel/"